@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  user-select: none;
  overflow-x: hidden;
  scroll-behavior: smooth;
  font-family: "Montserrat";
}

body {
  background-color: #fff;
}

body header {
  background: rgba(255, 255, 255, 0.85);
  backdrop-filter: blur(10px);
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 9;
}

body header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1.5rem 3rem;
}

body header nav ul {
  height: 4rem;
  display: inline-flex;
  align-items: center;
}

body header nav ul a,
body header nav ul button {
  margin-left: 3rem;
  font-weight: 600;
}

body .landing {
  width: 100%;
  height: 100vh;
  padding-left: 3rem;
  display: inline-flex;
  align-items: center;
}

body .landing h1 {
  font-size: xxx-large;
}

body .landing .nurse {
  width: 50%;
  height: 100vh;
  background: linear-gradient(270deg, #2a71de 0%, #0899e6 100%);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
}

body .landing .nurse img {
  max-width: 80%;
  max-height: 75%;
  width: auto;
  height: auto;
}

body .landing .texts {
  width: 50%;
  height: 100vh;
  padding: 7rem 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

body .landing .texts .icons-section,
body .landing .texts .icon-clock {
  width: 100%;
  display: flex;
}

body .landing .texts .icons-section div,
body .landing .texts .icon-clock div {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 50px;
  padding-left: 4px;
}

body .landing .texts .icons-section div p,
body .landing .texts .icon-clock div p {
  padding: 0 0.5rem;
  color: #274577;
}

body .landing .texts .icons-section div img,
body .landing .texts .icon-clock div img {
  filter: drop-shadow(0px 9px 4px rgba(255, 208, 18, 0.06));
  border: 1px solid white;
}

body .landing .texts .icon-clock {
  align-items: center;
  height: 50px;
  padding-left: 4px;
  margin-top: 6rem;
}

body .landing .texts .icon-clock p {
  padding: 0 0.5rem;
  color: #274577;
}

body .landing .texts .icon-clock img {
  border: 1px solid white;
  filter: drop-shadow(0px 9px 4px rgba(45, 77, 203, 0.06));
}

body .landing .texts .schedule {
  position: absolute;
  bottom: 1rem;
  height: 15vh;
  width: 72%;
  background: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(6px);
  border-radius: 10px;
  border: 2px white solid;
  filter: drop-shadow(0px 13px 7px rgba(45, 77, 203, 0.15));
  display: flex;
  align-items: center;
}

body .landing .texts .schedule .date {
  width: 85%;
  display: flex;
  justify-content: space-between;
  margin: 0 2rem;
}

body .landing .texts .schedule .date section {
  display: flex;
  width: 30%;
  flex-direction: column;
}

body .landing .texts .schedule .date section div {
  display: inline-flex;
}

body .landing .texts .schedule .date section div p {
  margin: 0 0.5rem;
}

body .landing .texts .schedule .date section span {
  margin-left: 2rem;
  font-weight: 600;
  color: #274577;
}

body .landing .texts .schedule button {
  width: 15%;
}

body .brands {
  width: 100%;
  padding: 4rem 3rem;
  display: inline-flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

body .brands img {
  width: 17.5%;
  opacity: 40%;
}

body .why-vaccine {
  width: 100%;
  padding: 3rem;
}

body .why-vaccine .cards-benefits {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  position: relative;
  height: auto;
  min-height: 100% !important;
  padding: 1rem 0.5rem;
  margin: 3rem 0 0 0;
}

body .why-vaccine .cards-benefits div {
  padding: 1rem;
  border: 1px solid #fafaff;
  border-radius: 10px;
  height: 100%;
  width: 20%;
}

body .why-vaccine .cards-benefits div img {
  width: 15%;
  margin-bottom: 0.5rem;
}

body .why-vaccine .cards-benefits div p:first-of-type {
  margin-bottom: 0.5rem;
}

body .why-vaccine .cards-benefits div p:last-of-type {
  font-size: small;
}

body .why-vaccine .cards-benefits div:hover {
  border: 1px solid transparent;
  box-shadow: 0px 7px 20px -13px #3757d552;
}

body .preparation {
  width: 100%;
  display: flex;
  flex-direction: row;
}

body .preparation .information,
body .preparation .girl {
  width: 50%;
}

body .preparation .girl {
  background: linear-gradient(0deg, #2a71de 50%, #0899e6 75%, white 75%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .preparation .girl img {
  width: 60%;
}

body .preparation .information {
  padding: 0 3rem;
}

body .preparation .collapsable-content {
  margin: 0rem 3rem 0 2rem;
}

body .preparation .collapsable-content span {
  display: flex;
  align-items: center;
  border: 1px #fafaff solid;
  border-radius: 5px;
  padding: 0.5rem 0;
}

body .preparation .collapsable-content span img {
  margin: 0 2rem;
}

body .preparation .collapsable-content span .arrow {
  margin-left: auto;
}

body .preparation .collapsable-content section {
  margin: 2rem 0;
}

body .preparation .collapsable-content .content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease-out;
}

body .preparation .collapsable-content div > p {
  margin: 1rem 3.5rem;
  font-size: small;
}

body .preparation .collapsable-content .active {
  border: 1px solid transparent;
}

body .preparation .collapsable-content .active-section {
  box-shadow: 0px 7px 20px -13px #3757d552;
}

body .preparation .collapsable-content .active-icon {
  border: 1px white solid;
  box-shadow: 0px 4px 8px -3px #3757d552;
}

body .emergency {
  display: flex;
  width: 100%;
  position: relative;
  margin: 4rem 0;
}

body .emergency .emergency-buttons {
  width: 50%;
  margin: 1rem 3rem 0;
}

body .emergency .emergency-buttons .buttons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 6rem;
}

body .emergency .emergency-buttons .buttons section {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-end;
  justify-content: space-around;
  width: 40%;
  padding: 2rem;
  margin: 2rem 1rem 1rem 0;
  border: 1px #fafaff solid;
  border-radius: 5px;
}

body .emergency .emergency-buttons .buttons section .emergency-icon img {
  width: 40px;
  height: 40px;
}

body .emergency .emergency-buttons .buttons section .emergency-texts p {
  color: #274577;
}

body .emergency .emergency-buttons .buttons section .emergency-texts span {
  font-size: small;
  color: #7f8ba0;
}

body .emergency .emergency-buttons .buttons section .emergency-button-white {
  width: 100%;
  margin-top: 2rem;
  display: flex;
  justify-content: center;
}

body .emergency .emergency-buttons .buttons section .emergency-button-white button {
  width: 100%;
  margin: 0 1rem;
  color: #3757d5;
  background-color: #f1f5ff;
  box-shadow: none;
  font-weight: 600;
  padding: 0.75rem 0.5rem;
}

body .emergency .emergency-buttons .buttons section .emergency-button-white button:hover {
  background-color: #3757d5;
  color: #f1f5ff;
}

body .emergency .emergency-buttons .buttons section:hover {
  box-shadow: 0px 7px 20px -13px #3757d552;
  border: 1px solid transparent;
}

body .emergency .doctor {
  width: 50%;
  background: linear-gradient(0deg, #2a71de 50%, #0899e6 75%, white 75%);
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

body .emergency .doctor img {
  width: 80%;
}

body footer {
  background-color: #f1f5ff;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: flex-start;
  padding: 2rem 3rem 0.5rem 3rem;
  position: relative;
}

body footer .logo-footer {
  position: relative;
  z-index: 2;
}

body footer .logo-footer span {
  color: #7f8ba0;
  font-weight: 500;
  font-size: small;
  line-height: 1.6;
}

body footer .web-links {
  width: 40%;
  height: 20vh;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

body footer .web-links p {
  color: #274577;
  padding-bottom: 0.5rem;
}

body footer .web-links a {
  color: #7f8ba0;
  font-weight: 500;
  font-size: small;
  line-height: 2.3;
  margin-bottom: 1rem;
}

body footer .rights {
  width: 100%;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  position: relative;
  z-index: 2;
}

body footer .rights span {
  font-size: xx-small;
  color: #7f8ba0;
}

body footer .rights span a {
  color: #7f8ba0;
  text-decoration: none;
}

.logo-vaccination {
  font-weight: 800;
  font-size: 1.5rem;
  color: #2c4cca;
}

button {
  padding: 0.75rem 1rem;
  background-color: #3757d5;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: 0px 2px 7px 0px #3757d573;
  margin-right: 1rem;
  color: white;
  transition: 0.3s;
}

button:hover {
  background-color: #f1f5ff;
  color: #3757d5;
}

button:active {
  background-color: white;
  color: #3757d5;
}

h1,
h2,
h3 {
  color: #1f3e72;
}

p {
  color: #8894a7;
  font-weight: 600;
  line-height: 1.6;
}

a {
  color: #7f8ba0;
  transition: 0.3s;
}

a:hover {
  color: white;
}

.p-bold {
  font-size: larger;
  color: #274577;
}

.why {
  font-size: xx-large;
  font-weight: 800;
  padding-bottom: 2rem;
}

.icon {
  width: 24px;
  height: 24px;
}

.triangle-footer::after {
  content: '';
  position: absolute;
  right: 10%;
  bottom: 0;
  width: 0;
  height: 0;
  border-left: 60px solid transparent;
  border-right: 60px solid transparent;
  border-bottom: 60px solid #E2E9F9;
  clear: both;
  z-index: 1;
}
/*# sourceMappingURL=index.css.map */